<ion-view view-title="Add location" class="pn-add-location">
  <ion-content>
    <ion-list>
	  <!-- <ion-radio ng-model="locationType" ng-value="'A'" ng-click="getCurrentLocation()">Current location</ion-radio> -->
	  <ion-radio ng-model="locationShareBy" ng-value="currentL" ng-click="checkLocationType('currentL')">Current location</ion-radio>
	  <ion-radio ng-model="locationShareBy" ng-value="searchL" ng-click="checkLocationType('searchL')">Search location</ion-radio>
	</ion-list>

	<div class="pn-search-section" ng-show="locationShareBy == 'searchL'">
		<div class="list">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		        <input id="pac-input" type="text" placeholder="Search Box">
		  </label>
		</div>
	</div>

	<div class="list list-inset ">
			  <label class="item pn-custom-select-tag">
			    <!-- <select>
			    	<option ng-repeat="points in pointInLists" ng-click="setlocationCat()">{{points.title}}</option>
			    </select> -->
					<select  ng-model="pointInSelected" ng-change="setlocationCat(pointInSelected)" data-ng-options="pointIn as pointIn.title for pointIn in pointInCategories">
					    <option value="">Select PointIn</option>
					</select>
			  </label>
			  <label class="item item-input">
			    <textarea placeholder="Description" rows="5" ng-model="pointInLists.description" required></textarea>
			  </label>
	</div>

	<div class="list list-inset "> 
		<button class="button button-full button-stable pn-button-stable" ng-click="savePointIn()">
		  Save location
		</button>
	</div>

    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"
         async defer></script>
  </ion-content>
</ion-view>
