<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="left">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="pn-left-menu">
      <div class="clearfix pn-left-menu-banner">
          <img src="/img/pointin-logo.png" alt="Pointin">
          <h4>PointIn</h4>
          <p>Personalized Place locator</p>
      </div>
<!--       <ion-list>
        <ion-item menu-close ng-click="login()">
          <i class=""></i> <span>Add location</span>
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Location list
        </ion-item>
        <ion-item menu-close href="#/app/browse" class="pn-share-app-list">
          Share app on
            <ion-list>
                <ion-item> Facebook</ion-item> 
                <ion-item> WhatsApp</ion-item> 
            </ion-list>
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list> -->

<div class="list">

  <a class="item item-icon-left"  ui-sref="app.addLocation">
    <i class="icon ion-ios-location-outline"></i>
    Add location
  </a>

  <a class="item item-icon-left"  ui-sref="app.pointInLists">
    <i class="icon ion-ios-list-outline"></i>
    Locations List
    <!-- <i class="icon ion-ios-telephone-outline"></i> -->
  </a>

  <div class="item item-divider">
    Share app on
  </div>
    <a class="item item-icon-left" ng-click="login()">
    <i class="icon ion-social-facebook-outline"></i>
    Facebook
    <!-- <span class="badge badge-assertive">0</span> -->
  </a>
  <a class="item item-icon-left" ui-sref="app.search">
    <i class="icon ion-social-whatsapp-outline"></i>
    WhatsApp
  </a>
    <!-- <a class="item item-icon-left"  href="#/app/search">
    <i class="icon ion-social-whatsapp-outline"></i>
    WhatsApp
    <span class="badge badge-assertive">0</span>
  </a> -->
  

</div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
