<ion-view view-title="PointIn">
  <ion-content>
        <div class="list card pn-card" ng-repeat="pointInList in pointInLists track by $index" href="#/app/pointInLists/{{pointInList.id}}">
			 <div class="item item-avatar">
			    <img src="img/{{pointInList.title.split(' ').join('')}}.png">
			    <h2>{{pointInList.title}}</h2>
			    <p>{{pointInList.date | date:'LLLL dd, yyyy'}}</p>
			 </div>
			<div class="item item-body">
			    <p>{{pointInList.description}}</p>
			    <p>
			      <a href="#" class="subdued"><i class="ion-social-facebook"></i> <span>Share on facebook</span></a>
			      <a href="#" class="subdued" ng-click="deletePointIn($index)"><i class="ion-ios-trash"></i> <span>Delete</span></a>
			      <a href="#" class="subdued"><i class="ion-android-share-alt"></i> <span>Share</span></a>
			    </p>
			 
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" ng-click="openShareEvent()">
			      Share as event
			    </a>
			    <a class="tab-item" href="#" ng-click="openShareAddress()">
			      Share as address
			    </a>
			  </div>
		</div>
  </ion-content>
</ion-view>
