 <ion-modal-view>
  <ion-header-bar>
    <h1 class="title" align-title="left">Address Details</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShareAddress()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="shareAddress(address)" >
	      <div class="list">
	            <label class="item item-input">
	              <span class="input-label">Person Name</span>
	              <input ng-model="address.name" type="text">
	            </label>
	            <label class="item item-input">
	              <span class="input-label">Contact Number [optional]</span>
	              	<input ng-model="address.contact" type="tel">
	            </label>
	        </div>
	        <div class="list list-inset "> 
				<button class="button button-full button-stable pn-button-stable" type="submit">
				  Save location
				</button>
			</div>
	       
    </form>
  </ion-content>
</ion-modal-view>
