 <ion-modal-view>
  <ion-header-bar>
    <h1 class="title" align-title="left">Event Details</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShareEvent()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="shareEvent(event)" >
	      <div class="list">
	            <label class="item item-input">
	              <span class="input-label">Event Name</span>
	              <input ng-model="event.name" type="text">
	            </label>
	            <label class="item item-input">
	              <span class="input-label">Event Description</span>
	              <textarea ng-model="event.description" rows="5">
	              </textarea>
	            </label>
	            <label class="item item-input">
	              <span class="input-label">Event Time</span>
	              <input ng-model="event.time" type="time" >
	            </label>
	            <label class="item item-input">
	              <span class="input-label">Venue [optional]</span>
	              <textarea ng-model="event.venue" rows="5">
	            </label>
	        </div>
	        <div class="list list-inset "> 
				<button class="button button-full button-stable pn-button-stable" type="submit">
				  Save location
				</button>
			</div>
	       
    </form>
  </ion-content>
</ion-modal-view>
