$brandColor: #cd3333;

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.bar.bar-stable, .bar.bar-header {
		background: $brandColor;
		color:white;
		.title , .button-clear{
			color: white;
		}
}

.pn-left-menu {
	.pn-left-menu-banner {
		background: $brandColor;
		height:170px;
		color:white;
		padding:50px 0 0 20px;
		img {
			height:55px;
		}
		h4 {
			color:white;
			margin:5px 0;
		}
		p {
			color:rgba(255, 255, 255, 0.70);
		}
	}
}

.pn-card {
	.item.tabs {
		.tab-item {
			max-width:100%;
			text-transform:uppercase;
			font-size:13px;
		}
	}
	.subdued {
		i {
			margin-right:5px;
		}
	}
}

.create-poinIn {
	position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    a {
    	&:before{
	    	color: $brandColor;
	    	font-size:54px;
    	}
    }
}

.pn-custom-select-tag {
	position:relative;
	height:54px;
	select{
		position: absolute;
	    left: 0;
	    top: 0;
	    min-width: 100%;
	    height: 100%;
	    border: none;
	    padding:10px;
	    font-size:16px;
	    color:#444;

	}
}

.pn-add-location{
	.pn-button-stable {
	font-weight:600;
	}
	.pn-search-section {
		background:#eeeeee;
		padding:10px 15px;
	}
}
.popup-container{	
	.popup {
		max-width:300px;
		min-width:300px;
		button{
			background:none !important;
			color:#444 !important;
			font-size:14px;
			font-weight:bold;
		}
	}
} 


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}