.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.bar.bar-stable, .bar.bar-header {
  background: #cd3333;
  color: white; }
  .bar.bar-stable .title, .bar.bar-stable .button-clear, .bar.bar-header .title, .bar.bar-header .button-clear {
    color: white; }

.pn-left-menu .pn-left-menu-banner {
  background: #cd3333;
  height: 170px;
  color: white;
  padding: 50px 0 0 20px; }
  .pn-left-menu .pn-left-menu-banner img {
    height: 55px; }
  .pn-left-menu .pn-left-menu-banner h4 {
    color: white;
    margin: 5px 0; }
  .pn-left-menu .pn-left-menu-banner p {
    color: rgba(255, 255, 255, 0.7); }

.pn-card .item.tabs .tab-item {
  max-width: 100%;
  text-transform: uppercase;
  font-size: 13px; }

.pn-card .subdued i {
  margin-right: 5px; }

.create-poinIn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9; }
  .create-poinIn a:before {
    color: #cd3333;
    font-size: 54px; }

.pn-custom-select-tag {
  position: relative;
  height: 54px; }
  .pn-custom-select-tag select {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #444; }

.pn-add-location .pn-button-stable {
  font-weight: 600; }

.pn-add-location .pn-search-section {
  background: #eeeeee;
  padding: 10px 15px; }

.popup-container .popup {
  max-width: 300px;
  min-width: 300px; }
  .popup-container .popup button {
    background: none !important;
    color: #444 !important;
    font-size: 14px;
    font-weight: bold; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
